@import 'bootstrap';

#logo {
	color: SteelBlue;
	size: 1.25em;
}


html {
	overflow-y: scroll;	
}

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

.center {
	margin-bottom: 10px;
}